.btn {
    @include border-radius(0);
    @include transition(all .3s);
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    border: none;

    &:hover,
    &:focus,
    &:active,
    &:focus:active {
        outline: none;
        box-shadow: none;
    }
}

.btn-sm {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 25px;
}

.btn-md {
    font-size: 16px;
    line-height: 21px;
    padding: 15px 25px;
    min-width: 200px;
}

.btn-black {
    border: 2px solid $black2;
    background: $black2;
    min-width: 300px;
    color: $white;

    &:hover {
        background: $white;
        color: $black2;
    }
}

.btn-purple {
    border: none;
    color: $white;
    background: $secondary;
    @include transition(1s);
    border: 3px solid $secondary;

    &:hover {
        background: rgba($secondary, 0.75);
        color: $white;
    }
}

.btn-white-border {
    background: transparent;
    border: 3px solid $white;
    color: $white;

    &:hover {
        background: $white;
        color: $black;
    }
}