@font-face {
    font-family: "Tofino-Black";
    src: url("/font/Tofino-Black.otf"), url("/font/Tofino-Black.woff");
}
@font-face {
    font-family: "Tofino-Bold";
    src: url("/font/Tofino-Bold.otf"), url("/font/Tofino-Bold.woff");
}
@font-face {
    font-family: "Tofino-Reg";
    src: url("/font/Tofino-Regular.otf"), url("/font/Tofino-Regular.woff");
}
@font-face {
    font-family: "Tofino-Medium";
    src: url("/font/Tofino-Medium.otf"), url("/font/Tofino-Medium.woff");
}
@font-face {
    font-family: "Tofino-Light";
    src: url("/font/Tofino-Light.otf"), url("/font/Tofino-Light.woff");
}

$font-light: "Tofino-Light", "Helvetica Neue", sans-serif;
$font-regular: "Tofino-Reg", "Helvetica Neue", sans-serif;
$font-medium: "Tofino-Medium", "Helvetica Neue", sans-serif;
$font-black: "Tofino-Black", "Helvetica Neue", sans-serif;
$font-bold: "Tofino-Bold", "Helvetica Neue", sans-serif;

body {
    font-family: $font-regular;
}

html,
body {
    font-family: $font-regular;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: $font-regular;
}

h2,
h3 {
    font-family: $font-medium;
}

.btn {
    font-family: $font-medium;
}
