@keyframes dash {
    from {
        stroke-dashoffset: 628;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes spin {
    from {
        @include rotate(0deg);
    }

    to {
        @include rotate(360deg);
    }
}

@keyframes spin {
    from {
        @include rotate(0deg);
    }

    to {
        @include rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes blink-blog {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
        color: #000;
    }
    100% {
        opacity: .2;
    }
}

@keyframes dot-expand {
    0% {
        letter-spacing: 1px;
    }
    50% {
        letter-spacing: 5px;
    }
    100% {
        letter-spacing: 1px;
    }
}