// Body
$body-bg: #f4f4f4;

$white: #ffffff;
$black: #000000;
$black2: #222222;
$primary: #ffd027;
$secondary: #6b5bee;
$light-blue: #dcdbe0;
$light-grey: #dcdcdc;
$grey: #6e6e6e;
$grey-two: #949494;
