@import "mixins";
@import "fonts";
@import "variables";
@import "keyframes";
@import "buttons";
@import "sizes";
@import "browser";

// Media
@import "media/all";
@import "media/lg";
@import "media/md";
@import "media/sm";
@import "media/xs";

@import "components/header";
@import "components/footer";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
