// =======================================================
// Header
// =======================================================

//ALL
footer {
    border-top: 1px solid $light-grey;
    background-color: transparent;
    position: relative;
    margin-top: -100px;
    padding: 35px 0;

    img {
        margin-right: 30px;
    }

    p {
        margin: 0;
        z-index: 20;
        font-size: 12px;
        line-height: 16px;
        position: relative;
        color: $black2;
    }

    .scroll-up {
        cursor: pointer;
    }
}

//MD
@media (max-width: $screen-md) {
    footer {
        padding: 30px 0;
    }
}

//SM
@media (max-width: $screen-sm) {
    footer {
        img {
            margin-right: 15px;
        }
    }
}

//XS
@media (max-width: $screen-xs) {
    footer {
        text-align: center;
        background: $white;
        border-top: none;
        margin-top: 0;

        p {
            margin: 30px 0 0;
        }
    }
}
