// =======================================================
// Header
// =======================================================

//ALL
header {
    position: absolute;
    padding: 30px 0;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;

    ul {
        margin: 0;
        padding: 0;
        text-align: right;
    }

    li {
        display: inline-block;
        margin: 0 10px;

        a {
            font-size: 14px;
            line-height: 20px;
            color: $white;
            padding: 0;

            &:active,
            &:focus,
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    button {
        outline: none;

        &:active {
            outline: none;
        }
    }
}

.navmenu {
    background: $body-bg;
    padding: 20px 30px;
    width: 240px;

    h4 {
        opacity: 0.5;
        color: $black2;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: $font-medium;
        margin: 0 0 50px;
    }

    .navmenu-close-button {
        border: none;
        background: none;
        position: absolute;
        cursor: pointer;
        outline: none;
        z-index: 10;
        right: 30px;
        top: 23px;
        padding: 0;
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    li {
        display: block;
        margin: 0 0 20px;

        a {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: $font-medium;
            color: $black2;
            padding: 0;

            &:active,
            &:focus,
            &:hover {
                color: $black;
                text-decoration: underline;
            }
        }
    }

    .call-link {
        background: $primary;
        position: absolute;
        padding: 30px;
        bottom: 0;
        left: 0;
        right: 0;

        a {
            color: $black2;
            font-size: 18px;
            line-height: 30px;
            font-family: $font-medium;

            img {
                margin-right: 10px;
            }
        }
    }
}

//XS
@media (max-width: $screen-xs) {
    header {
        padding: 10px 0;

        img {
            max-height: 50px;
        }
    }
}
