@font-face {
  font-family: "Tofino-Black";
  src: url("/font/Tofino-Black.otf"), url("/font/Tofino-Black.woff");
}

@font-face {
  font-family: "Tofino-Bold";
  src: url("/font/Tofino-Bold.otf"), url("/font/Tofino-Bold.woff");
}

@font-face {
  font-family: "Tofino-Reg";
  src: url("/font/Tofino-Regular.otf"), url("/font/Tofino-Regular.woff");
}

@font-face {
  font-family: "Tofino-Medium";
  src: url("/font/Tofino-Medium.otf"), url("/font/Tofino-Medium.woff");
}

@font-face {
  font-family: "Tofino-Light";
  src: url("/font/Tofino-Light.otf"), url("/font/Tofino-Light.woff");
}

body {
  font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
}

html,
body {
  font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
}

h2,
h3 {
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
}

.btn {
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 628;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 628;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes blink-blog {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
    color: #000;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes blink-blog {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
    color: #000;
  }

  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes dot-expand {
  0% {
    letter-spacing: 1px;
  }

  50% {
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 1px;
  }
}

@keyframes dot-expand {
  0% {
    letter-spacing: 1px;
  }

  50% {
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 1px;
  }
}

.btn {
  border-radius: 0;
  transition: all 0.3s;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:focus:active {
  outline: none;
  box-shadow: none;
}

.btn-sm {
  font-size: 14px;
  line-height: 20px;
  padding: 15px 25px;
}

.btn-md {
  font-size: 16px;
  line-height: 21px;
  padding: 15px 25px;
  min-width: 200px;
}

.btn-black {
  border: 2px solid #222222;
  background: #222222;
  min-width: 300px;
  color: #ffffff;
}

.btn-black:hover {
  background: #ffffff;
  color: #222222;
}

.btn-purple {
  border: none;
  color: #ffffff;
  background: #6b5bee;
  transition: 1s;
  border: 3px solid #6b5bee;
}

.btn-purple:hover {
  background: rgba(107, 91, 238, 0.75);
  color: #ffffff;
}

.btn-white-border {
  background: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.btn-white-border:hover {
  background: #ffffff;
  color: #000000;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #000;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

* {
  -webkit-font-smoothing: antialiased;
  /* webkit text rendering fix */
  -ms-font-smoothing: antialiased;
  /* webkit text rendering fix */
}

html,
body {
  height: 100%;
  margin: auto;
}

body {
  overflow: inherit !important;
  padding: 0 !important;
  background: #f4f4f4;
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  margin: 0;
}

h1 small {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin: 30px 0 0;
}

h2 {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
}

h2 small {
  opacity: 0.5;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  margin: 0 0 30px;
  display: block;
}

h3 {
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

h3 small {
  opacity: 0.5;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  display: block;
}

h4 {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 0;
  letter-spacing: 0;
  position: relative;
  line-height: 20px;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

a:hover:after {
  width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.home-page {
  /* ============ Home Process ============= */
  /* ============ Home Services ============= */
  /* ============ Home CTA ============= */
  /* ============ Home Works ============= */
  /* ============ Home About/Contact ============= */
}

.home-page #hero {
  background: url("/images/home/hero-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 140px 0 100px;
  height: 700px;
}

.home-page #hero h1 {
  color: #ffffff;
  margin: 0 0 50px;
}

.home-page #hero h1 span {
  color: #ffd027;
  display: block;
  margin-top: 20px;
}

.home-page #hero p {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
}

.home-page #hero a {
  padding: 0;
  color: #ffd027;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  display: block;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
}

.home-page #hero a img {
  position: relative;
  margin: -2px 10px 0 0;
}

.home-page #process {
  background: #000000;
  padding: 30px 0;
}

.home-page #process span {
  color: #ffd027;
  font-size: 40px;
  text-align: right;
  line-height: 50px;
}

.home-page #process p {
  color: #ffffff;
  margin: 5px 0;
}

.home-page #services {
  background: url("/images/home/services-bg.svg") no-repeat center;
  background-size: cover;
  padding: 100px 0;
  overflow: hidden;
}

.home-page #services .col-custom {
  padding-right: 90px;
}

.home-page #services .col-custom h4 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 10px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
}

.home-page #services .col-custom img {
  margin: 30px 0 10px;
}

.home-page #services .house-demo {
  margin-top: 70px;
}

.home-page #services .toggle-button {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  margin-top: 50px;
  cursor: pointer;
}

.home-page #services .toggle-button img {
  margin-right: 10px;
}

.home-page #services .toggle-columns {
  display: none;
}

.home-page #cta {
  background: #ffd027;
  padding: 50px 0;
}

.home-page #cta h3 {
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  font-family: Tofino-Medium;
  font-size: 40px;
  line-height: 50px;
}

.home-page #cta a {
  border-radius: 4px;
  padding: 13px 30px;
  background: #000000;
  border: 2px solid #000000;
  letter-spacing: 0.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
  font-size: 16px;
  color: #ffffff;
  display: block;
}

.home-page #works {
  background: #000000;
  padding: 100px 0 0;
  overflow: hidden;
}

.home-page #works h2 {
  color: #ffffff;
  max-width: 460px;
}

.home-page #works h2 small {
  opacity: 1;
  color: #ffd027;
}

.home-page #works p {
  color: #ffffff;
  max-width: 535px;
  margin-left: auto;
  margin-top: -125px;
  margin-bottom: 100px;
  padding-left: 20px;
  border-left: 2px solid #ffd027;
}

.home-page #works .bunch-images {
  position: relative;
  height: 920px;
  width: 100%;
  top: -155px;
}

.home-page #works .bunch-images img {
  position: absolute;
}

.home-page #works .bunch-images img:nth-of-type(1) {
  right: 140px;
}

.home-page #works .bunch-images img:nth-of-type(2) {
  right: -240px;
  top: 90px;
}

.home-page #works .bunch-images img:nth-of-type(3) {
  top: 320px;
  left: 0;
}

.home-page #works .bunch-images img:nth-of-type(4) {
  left: 260px;
  top: 200px;
}

.home-page #works .bunch-images img:nth-of-type(5) {
  bottom: 300px;
  left: 520px;
}

.home-page #works .bunch-images img:nth-of-type(6) {
  bottom: 60px;
  right: 0;
}

.home-page #works .bunch-images img:nth-of-type(7) {
  bottom: 300px;
  right: -260px;
}

.home-page #works .bunch-images img:nth-of-type(8) {
  bottom: 70px;
  left: -310px;
}

.home-page #works .bunch-images img:nth-of-type(9) {
  bottom: -20px;
  left: 20px;
}

.home-page #works .bunch-images img:nth-of-type(10) {
  bottom: -190px;
  left: 20px;
}

.home-page #works .bunch-images img:nth-of-type(11) {
  bottom: 40px;
  right: 380px;
}

.home-page #about_contact {
  position: relative;
  background: #ffffff;
  padding: 100px 0 0;
}

.home-page #about_contact h2 {
  margin: 0 0 50px;
}

.home-page #about_contact .col-left {
  position: relative;
  z-index: 10;
}

.home-page #about_contact .col-left img {
  max-width: 100%;
}

.home-page #about_contact .col-left img.signature-icon {
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 60px;
}

.home-page #about_contact .col-left p {
  font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
  max-width: 265px;
  margin: 0 0 20px;
}

.home-page #about_contact .col-left .time {
  margin: 180px 0 0;
}

.home-page #about_contact .col-left .time h4 {
  opacity: 0.5;
  color: #222222;
  font-size: 16px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 0 0 30px;
}

.home-page #about_contact .col-left .time h4.fill-black {
  opacity: 1;
  color: #000000;
  margin: 30px 0 0;
  letter-spacing: 0;
  text-transform: inherit;
}

.home-page #about_contact .col-left .time p {
  margin: 0;
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
}

.home-page #about_contact .col-left .time a {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
}

.home-page #about_contact .col-left .time a:hover {
  text-decoration: underline;
}

.home-page #about_contact .col-left .time a img {
  margin: -2px 10px 0 0;
}

.home-page #about_contact .col-right p {
  font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
  margin: 0 0 20px;
}

.home-page #about_contact .fill-content {
  width: calc((100% - ((100% - 1140px) / 2)) - 775px);
  background: #f4f4f4;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.home-page #about_contact .fill-content.yellow {
  background: #ffd027;
  top: inherit;
  z-index: 1;
  height: calc(100% - 64%);
}

.home-page #about_contact .contact-form-component {
  margin: 100px 0 180px;
}

.home-page #about_contact .contact-form-component .col {
  padding: 0 5px;
}

.home-page #about_contact .contact-form-component .row {
  margin-left: -5px;
  margin-right: -5px;
}

.home-page #about_contact .contact-form-component .row > div {
  padding: 0 5px;
}

.home-page #about_contact .contact-form-component form {
  margin: 50px 0 0;
}

.home-page #about_contact .contact-form-component form .form-group {
  margin: 0 0 10px;
  padding: 0;
}

.home-page #about_contact .contact-form-component form .form-group:hover .form-control {
  border-color: #949494;
}

.home-page #about_contact .contact-form-component form .form-group.is-focused .form-control {
  border-color: #222222;
}

.home-page #about_contact .contact-form-component form .form-group.is-focused .control-label {
  display: none;
}

.home-page #about_contact .contact-form-component form .form-group:not(.is-focused):not(.is-empty) .control-label {
  display: none;
}

.home-page #about_contact .contact-form-component form .form-control {
  transition: all 100ms ease;
  background: transparent;
  border-radius: 0;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dcdcdc;
  padding: 13px 15px;
  min-height: 50px;
  color: #222222;
  margin: 0;
}

.home-page #about_contact .contact-form-component form .control-label {
  display: none;
}

.home-page #about_contact .contact-form-component form p {
  opacity: 0.5;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

.home-page #about_contact .contact-form-component form button {
  margin: 20px 0;
  min-width: 100%;
  float: right;
}

.home-page .tooltip.show {
  opacity: 1;
}

.home-page .tooltip-inner {
  text-align: left;
  border: 1px solid #000000;
  background: #ffffff;
  color: #222222;
  padding: 20px;
  border-radius: 4px;
  min-width: 200px;
  box-shadow: none;
  opacity: 1;
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 1199px) {
  h2 {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
  }

  .home-page #works p {
    margin-bottom: 60px;
  }

  .home-page #works .bunch-images {
    height: 715px;
  }

  .home-page #works .bunch-images img:nth-of-type(1) {
    right: 160px;
    width: 400px;
  }

  .home-page #works .bunch-images img:nth-of-type(2) {
    top: 75px;
    right: -150px;
    width: 300px;
  }

  .home-page #works .bunch-images img:nth-of-type(3) {
    top: 250px;
    left: -20px;
    width: 200px;
  }

  .home-page #works .bunch-images img:nth-of-type(4) {
    top: 150px;
    left: 190px;
    width: 200px;
  }

  .home-page #works .bunch-images img:nth-of-type(5) {
    left: 400px;
    width: 200px;
    bottom: 205px;
  }

  .home-page #works .bunch-images img:nth-of-type(6) {
    right: 70px;
    width: 280px;
    bottom: 30px;
  }

  .home-page #works .bunch-images img:nth-of-type(7) {
    width: 200px;
    bottom: 203px;
    right: -140px;
  }

  .home-page #works .bunch-images img:nth-of-type(8) {
    width: 280px;
    bottom: 13px;
    left: -250px;
  }

  .home-page #works .bunch-images img:nth-of-type(9) {
    width: 350px;
    bottom: -10px;
    left: 40px;
  }

  .home-page #works .bunch-images img:nth-of-type(10) {
    width: 300px;
    bottom: -155px;
    left: 40px;
  }

  .home-page #works .bunch-images img:nth-of-type(11) {
    width: 200px;
    right: 360px;
    bottom: -5px;
  }

  .home-page #about_contact .fill-content {
    width: calc((100% - ((100% - 960px) / 2)) - 585px);
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 35px;
    line-height: 45px;
  }

  h2 small {
    margin: 0 0 10px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  .home-page #hero {
    height: 600px;
  }

  .home-page #process span {
    text-align: left;
  }

  .home-page #services .house-demo {
    margin: 0;
  }

  .home-page #cta h3 {
    font-size: 36px;
  }

  .home-page #works p {
    max-width: 385px;
    margin-bottom: 25px;
    margin-top: -100px;
  }

  .home-page #works .bunch-images {
    height: 670px;
  }

  .home-page #works .bunch-images img:nth-of-type(1) {
    right: 40px;
    width: 350px;
  }

  .home-page #works .bunch-images img:nth-of-type(2) {
    right: -220px;
    width: 250px;
  }

  .home-page #works .bunch-images img:nth-of-type(3) {
    top: 240px;
    left: -70px;
    width: 200px;
  }

  .home-page #works .bunch-images img:nth-of-type(4) {
    top: 170px;
    left: 140px;
    width: 180px;
  }

  .home-page #works .bunch-images img:nth-of-type(5) {
    left: 330px;
    width: 200px;
    bottom: 195px;
  }

  .home-page #works .bunch-images img:nth-of-type(6) {
    right: -100px;
    width: 280px;
    bottom: 20px;
  }

  .home-page #works .bunch-images img:nth-of-type(7) {
    width: 200px;
    bottom: 240px;
    right: -310px;
  }

  .home-page #works .bunch-images img:nth-of-type(8) {
    width: 280px;
    bottom: -20px;
    left: -320px;
  }

  .home-page #works .bunch-images img:nth-of-type(9) {
    width: 350px;
    bottom: -45px;
    left: -30px;
  }

  .home-page #works .bunch-images img:nth-of-type(10) {
    width: 300px;
    bottom: -190px;
    left: 20px;
  }

  .home-page #works .bunch-images img:nth-of-type(11) {
    width: 200px;
    right: 190px;
    bottom: -20px;
  }

  .home-page #about_contact .fill-content {
    width: calc((100% - ((100% - 720px) / 2)) - 435px);
  }

  .home-page #about_contact .fill-content.yellow {
    height: calc(100% - 56%);
  }

  .home-page #about_contact .col-left p {
    max-width: 250px;
  }
}

@media (max-width: 767px) {
  .home-page #process {
    position: relative;
    padding: 15px 0;
  }

  .home-page #process span {
    min-width: 60px;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    padding: 0;
  }

  .home-page #process p {
    padding-left: 0;
    padding-right: 20px;
    line-height: 15px;
    font-size: 12px;
  }

  .home-page #process img {
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    position: absolute;
    right: 15px;
    top: 50%;
  }

  .home-page #process .col-sm-3 .row {
    margin: 15px -15px;
  }

  .home-page #services {
    padding: 50px 0;
  }

  .home-page #services .house-demo {
    max-width: 520px;
    max-height: 520px;
  }

  .home-page #services .toggle-columns {
    padding: 0;
  }

  .home-page #cta {
    padding: 30px 0;
    text-align: center;
  }

  .home-page #cta h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 30px;
  }

  .home-page #works h2 {
    max-width: 180px;
  }

  .home-page #works p {
    max-width: 195px;
    margin-top: -150px;
  }

  .home-page #works .bunch-images img:nth-of-type(1) {
    right: -10px;
  }

  .home-page #works .bunch-images img:nth-of-type(2) {
    right: -270px;
  }

  .home-page #works .bunch-images img:nth-of-type(6) {
    right: -70px;
    bottom: 25px;
  }

  .home-page #works .bunch-images img:nth-of-type(11) {
    display: none;
  }

  .home-page #about_contact {
    padding: 50px 0 0;
  }

  .home-page #about_contact .fill-content {
    width: calc((100% - ((100% - 720px) / 2)) - 404px);
  }

  .home-page #about_contact .fill-content.yellow {
    height: calc(100% - 45%);
  }

  .home-page #about_contact h3 {
    font-size: 32px;
    line-height: 36px;
  }

  .home-page #about_contact h3 small {
    margin: 0 0 10px;
  }

  .home-page #about_contact .contact-form-component {
    margin: 50px 0 140px;
  }

  .home-page #about_contact .contact-form-component .row {
    margin-left: 0;
    margin-right: 0;
  }

  .home-page #about_contact .contact-form-component .row > div {
    padding: 0;
  }

  .home-page #about_contact .contact-form-component form p {
    text-align: center;
    margin: 10px 0 0;
  }

  .home-page #about_contact .col-left .time a {
    font-size: 21px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .home-page #hero {
    padding: 190px 0 60px;
    height: inherit;
  }

  .home-page #hero p {
    line-height: 20px;
    margin: 0 0 10px;
  }

  .home-page #hero a {
    font-size: 18px;
    text-align: left;
  }

  .home-page #process span {
    text-align: right;
  }

  .home-page #process p {
    padding-left: 15px;
    padding-right: 50px;
  }

  .home-page #services .col-custom {
    padding-right: 0;
  }

  .home-page #services .house-demo {
    max-width: 350px;
    max-height: 345px;
    margin-top: 20px;
  }

  .home-page #works {
    overflow: hidden;
    padding: 50px 0 0;
  }

  .home-page #works h2 {
    max-width: none;
    margin: 0 0 20px;
    padding: 0 15px;
  }

  .home-page #works p {
    max-width: inherit;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .home-page #works .bunch-images {
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    min-width: 570px;
    height: 850px;
    left: 50%;
    top: 0;
  }

  .home-page #works .bunch-images img:nth-of-type(1) {
    width: 227px;
    height: 170px;
    right: 48px;
    top: 160px;
  }

  .home-page #works .bunch-images img:nth-of-type(2) {
    right: -160px;
    top: 375px;
  }

  .home-page #works .bunch-images img:nth-of-type(3) {
    top: 10px;
    left: 295px;
    width: 130px;
    height: 130px;
  }

  .home-page #works .bunch-images img:nth-of-type(4) {
    top: 75px;
    left: 105px;
    width: 170px;
  }

  .home-page #works .bunch-images img:nth-of-type(5) {
    left: -80px;
    bottom: inherit;
    top: 370px;
  }

  .home-page #works .bunch-images img:nth-of-type(6) {
    top: 610px;
    left: 105px;
    width: 150px;
  }

  .home-page #works .bunch-images img:nth-of-type(9) {
    width: 320px;
    bottom: inherit;
    left: 140px;
    top: 350px;
  }

  .home-page #works .bunch-images img:nth-of-type(10) {
    top: 610px;
    left: 275px;
  }

  .home-page #about_contact {
    padding: 0;
  }

  .home-page #about_contact .contact-form-component {
    margin: 50px 0 30px;
  }

  .home-page #about_contact .contact-form-component .row {
    margin-left: 0;
    margin-right: 0;
  }

  .home-page #about_contact .fill-content {
    display: none;
  }

  .home-page #about_contact .col-left {
    padding: 30px 0 0;
  }

  .home-page #about_contact .col-top {
    background: #f4f4f4;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .home-page #about_contact .col-top p {
    margin: 0 0 20px;
  }

  .home-page #about_contact .family-picture {
    max-width: 200px;
    display: block;
  }

  .home-page #about_contact .signature-icon {
    margin: 0 0 30px;
  }

  .home-page #about_contact .time {
    background: #ffd027;
    padding: 30px 50px;
  }

  .home-page #about_contact .time h4 {
    opacity: 0.5;
    color: #222222;
    font-size: 16px;
    font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 0 0 30px;
  }

  .home-page #about_contact .time h4.fill-black {
    opacity: 1;
    color: #000000;
    margin: 30px 0 0;
    letter-spacing: 0;
    text-transform: inherit;
  }

  .home-page #about_contact .time p {
    margin: 0;
    color: #222222;
    font-size: 14px;
    line-height: 20px;
    font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  }

  .home-page #about_contact .time a {
    color: #000000;
    font-size: 24px;
    line-height: 30px;
    font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  }

  .home-page #about_contact .time a:hover {
    text-decoration: underline;
  }

  .home-page #about_contact .time a img {
    margin: -2px 10px 0 0;
  }
}

header {
  position: absolute;
  padding: 30px 0;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

header ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

header li {
  display: inline-block;
  margin: 0 10px;
}

header li a {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 0;
}

header li a:active,
header li a:focus,
header li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

header button {
  outline: none;
}

header button:active {
  outline: none;
}

.navmenu {
  background: #f4f4f4;
  padding: 20px 30px;
  width: 240px;
}

.navmenu h4 {
  opacity: 0.5;
  color: #222222;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  margin: 0 0 50px;
}

.navmenu .navmenu-close-button {
  border: none;
  background: none;
  position: absolute;
  cursor: pointer;
  outline: none;
  z-index: 10;
  right: 30px;
  top: 23px;
  padding: 0;
  margin: 0;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

.navmenu li {
  display: block;
  margin: 0 0 20px;
}

.navmenu li a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
  color: #222222;
  padding: 0;
}

.navmenu li a:active,
.navmenu li a:focus,
.navmenu li a:hover {
  color: #000000;
  text-decoration: underline;
}

.navmenu .call-link {
  background: #ffd027;
  position: absolute;
  padding: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.navmenu .call-link a {
  color: #222222;
  font-size: 18px;
  line-height: 30px;
  font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
}

.navmenu .call-link a img {
  margin-right: 10px;
}

@media (max-width: 575px) {
  header {
    padding: 10px 0;
  }

  header img {
    max-height: 50px;
  }
}

footer {
  border-top: 1px solid #dcdcdc;
  background-color: transparent;
  position: relative;
  margin-top: -100px;
  padding: 35px 0;
}

footer img {
  margin-right: 30px;
}

footer p {
  margin: 0;
  z-index: 20;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  color: #222222;
}

footer .scroll-up {
  cursor: pointer;
}

@media (max-width: 991px) {
  footer {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  footer img {
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  footer {
    text-align: center;
    background: #ffffff;
    border-top: none;
    margin-top: 0;
  }

  footer p {
    margin: 30px 0 0;
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

