* {
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
    -ms-font-smoothing: antialiased; /* webkit text rendering fix */
}

html,
body {
    height: 100%;
    margin: auto;
}

body {
    overflow: inherit !important;
    padding: 0 !important;
    background: #f4f4f4;
}

// ============================
// ALL
// ============================

h1 {
    font-size: 70px;
    line-height: 70px;
    font-family: $font-medium;
    margin: 0;

    small {
        display: block;
        font-size: 24px;
        line-height: 28px;
        margin: 30px 0 0;
    }
}

h2 {
    margin: 0;
    font-size: 50px;
    line-height: 60px;

    small {
        opacity: 0.5;
        color: $black2;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2px;
        font-family: $font-medium;
        text-transform: uppercase;
        margin: 0 0 30px;
        display: block;
    }
}

h3 {
    font-size: 40px;
    line-height: 50px;
    color: $black;
    margin: 0;

    small {
        opacity: 0.5;
        color: $black2;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2px;
        font-family: $font-medium;
        text-transform: uppercase;
        margin: 0 0 20px;
        display: block;
    }
}

h4 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 0;
    letter-spacing: 0;
    position: relative;
    line-height: 20px;
    font-size: 14px;

    &:hover {
        text-decoration: none;

        &:after {
            width: 100%;
        }
    }
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

// Home Section
.home-page {
    #hero {
        background: url("/images/home/hero-bg.jpg") no-repeat center;
        background-size: cover;
        padding: 140px 0 100px;
        height: 700px;

        h1 {
            color: $white;
            margin: 0 0 50px;
        }

        h1 span {
            color: $primary;
            display: block;
            margin-top: 20px;
        }

        p {
            color: $white;
            font-size: 16px;
            line-height: 30px;
        }

        a {
            padding: 0;
            color: $primary;
            font-size: 24px;
            line-height: 30px;
            text-align: right;
            display: block;
            font-family: $font-medium;

            img {
                position: relative;
                margin: -2px 10px 0 0;
            }
        }
    }

    /* ============ Home Process ============= */

    #process {
        background: $black;
        padding: 30px 0;

        span {
            color: $primary;
            font-size: 40px;
            text-align: right;
            line-height: 50px;
        }

        p {
            color: $white;
            margin: 5px 0;
        }
    }

    /* ============ Home Services ============= */

    #services {
        background: url("/images/home/services-bg.svg") no-repeat center;
        background-size: cover;
        padding: 100px 0;
        overflow: hidden;

        .col-custom {
            padding-right: 90px;
        }

        .col-custom h4 {
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 10px;
            font-family: $font-medium;
        }

        .col-custom img {
            margin: 30px 0 10px;
        }

        .house-demo {
            margin-top: 70px;
        }

        .toggle-button {
            color: $black;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            margin-top: 50px;
            cursor: pointer;

            img {
                margin-right: 10px;
            }
        }

        .toggle-columns {
            display: none;
        }
    }

    /* ============ Home CTA ============= */

    #cta {
        background: $primary;
        padding: 50px 0;

        h3 {
            font-family: "Tofino-Medium", "Helvetica Neue", sans-serif;
            font-family: Tofino-Medium;
            font-size: 40px;
            line-height: 50px;
        }

        a {
            border-radius: 4px;
            padding: 13px 30px;
            background: $black;
            border: 2px solid $black;
            letter-spacing: 0.5px;
            width: fit-content;
            margin: 5px auto;
            font-size: 16px;
            color: $white;
            display: block;
        }
    }

    /* ============ Home Works ============= */

    #works {
        background: $black;
        padding: 100px 0 0;
        overflow: hidden;

        h2 {
            color: $white;
            max-width: 460px;
        }

        h2 small {
            opacity: 1;
            color: $primary;
        }

        p {
            color: $white;
            max-width: 535px;
            margin-left: auto;
            margin-top: -125px;
            margin-bottom: 100px;
            padding-left: 20px;
            border-left: 2px solid $primary;
            // font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
        }

        .bunch-images {
            position: relative;
            height: 920px;
            width: 100%;
            top: -155px;

            img {
                position: absolute;
            }

            img:nth-of-type(1) {
                right: 140px;
            }

            img:nth-of-type(2) {
                right: -240px;
                top: 90px;
            }

            img:nth-of-type(3) {
                top: 320px;
                left: 0;
            }

            img:nth-of-type(4) {
                left: 260px;
                top: 200px;
            }

            img:nth-of-type(5) {
                bottom: 300px;
                left: 520px;
            }

            img:nth-of-type(6) {
                bottom: 60px;
                right: 0;
            }

            img:nth-of-type(7) {
                bottom: 300px;
                right: -260px;
            }

            img:nth-of-type(8) {
                bottom: 70px;
                left: -310px;
            }

            img:nth-of-type(9) {
                bottom: -20px;
                left: 20px;
            }

            img:nth-of-type(10) {
                bottom: -190px;
                left: 20px;
            }

            img:nth-of-type(11) {
                bottom: 40px;
                right: 380px;
            }
        }
    }

    /* ============ Home About/Contact ============= */

    #about_contact {
        position: relative;
        background: $white;
        padding: 100px 0 0;

        h2 {
            margin: 0 0 50px;
        }

        .col-left {
            position: relative;
            z-index: 10;
        }

        .col-left img {
            max-width: 100%;

            &.signature-icon {
                margin-left: 10px;
                margin-top: -10px;
                margin-bottom: 60px;
            }
        }

        .col-left p {
            font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
            max-width: 265px;
            margin: 0 0 20px;
        }

        .col-left .time {
            margin: 180px 0 0;
        }

        .col-left .time {
            h4 {
                opacity: 0.5;
                color: $black2;
                font-size: 16px;
                font-family: $font-medium;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 20px;
                margin: 0 0 30px;

                &.fill-black {
                    opacity: 1;
                    color: $black;
                    margin: 30px 0 0;
                    letter-spacing: 0;
                    text-transform: inherit;
                }
            }

            p {
                margin: 0;
                color: $black2;
                font-size: 14px;
                line-height: 20px;
                font-family: $font-medium;
            }

            a {
                color: $black;
                font-size: 24px;
                line-height: 30px;
                font-family: $font-medium;

                &:hover {
                    text-decoration: underline;
                }

                img {
                    margin: -2px 10px 0 0;
                }
            }
        }

        .col-right p {
            font-family: "Tofino-Reg", "Helvetica Neue", sans-serif;
            margin: 0 0 20px;
        }

        .fill-content {
            width: calc((100% - ((100% - 1140px) / 2)) - 775px);
            background: $body-bg;

            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;

            &.yellow {
                background: $primary;
                top: inherit;
                z-index: 1;
                height: calc(100% - 64%);
            }
        }

        .contact-form-component {
            margin: 100px 0 180px;

            .col {
                padding: 0 5px;
            }

            .row {
                margin-left: -5px;
                margin-right: -5px;

                > div {
                    padding: 0 5px;
                }
            }

            form {
                margin: 50px 0 0;

                .form-group {
                    margin: 0 0 10px;
                    padding: 0;

                    &:hover .form-control {
                        border-color: $grey-two;
                    }

                    &.is-focused {
                        .form-control {
                            border-color: $black2;
                        }

                        .control-label {
                            display: none;
                        }
                    }

                    &:not(.is-focused):not(.is-empty) .control-label {
                        display: none;
                    }
                }

                .form-control {
                    @include transition();
                    background: transparent;
                    @include border-radius(0);
                    @include box-shadow(none);
                    border: 1px solid $light-grey;
                    padding: 13px 15px;
                    min-height: 50px;
                    color: $black2;
                    margin: 0;
                }

                .control-label {
                    display: none;
                }

                p {
                    opacity: 0.5;
                    font-size: 12px;
                    line-height: 16px;
                    color: $black;
                    margin: 0;
                }

                button {
                    margin: 20px 0;
                    min-width: 100%;
                    float: right;
                }
            }
        }
    }

    .tooltip.show {
        opacity: 1;
    }

    .tooltip-inner {
        text-align: left;
        border: 1px solid $black;
        background: $white;
        color: $black2;
        padding: 20px;
        border-radius: 4px;
        min-width: 200px;
        box-shadow: none;
        opacity: 1;
        font-size: 12px;
        line-height: 16px;
    }
}
