//LG
@media(max-width: $screen-lg) {
    h2 {
        margin: 0;
        font-size: 40px;
        line-height: 50px;
    }

    .home-page {
        #works {
            p {
                margin-bottom: 60px;
            }

            .bunch-images {
                height: 715px;

                img {
                    &:nth-of-type(1) {
                        right: 160px;
                        width: 400px;
                    }

                    &:nth-of-type(2) {
                        top: 75px;
                        right: -150px;
                        width: 300px;
                    }

                    &:nth-of-type(3) {
                        top: 250px;
                        left: -20px;
                        width: 200px;
                    }

                    &:nth-of-type(4) {
                        top: 150px;
                        left: 190px;
                        width: 200px;
                    }

                    &:nth-of-type(5) {
                        left: 400px;
                        width: 200px;
                        bottom: 205px;
                    }

                    &:nth-of-type(6) {
                        right: 70px;
                        width: 280px;
                        bottom: 30px;
                    }

                    &:nth-of-type(7) {
                        width: 200px;
                        bottom: 203px;
                        right: -140px;
                    }

                    &:nth-of-type(8) {
                        width: 280px;
                        bottom: 13px;
                        left: -250px;
                    }

                    &:nth-of-type(9) {
                        width: 350px;
                        bottom: -10px;
                        left: 40px;
                    }

                    &:nth-of-type(10) {
                        width: 300px;
                        bottom: -155px;
                        left: 40px;
                    }

                    &:nth-of-type(11) {
                        width: 200px;
                        right: 360px;
                        bottom: -5px;
                    }
                }
            }
        }

        #about_contact {
            .fill-content {
                width: calc((100% - ((100% - 960px) / 2)) - 585px);
            }
        }
    }
}