//MD
@media (max-width: $screen-md) {
    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    h2 {
        font-size: 35px;
        line-height: 45px;

        small {
            margin: 0 0 10px;
        }
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    .home-page {
        #hero {
            height: 600px;
        }

        #process {
            span {
                text-align: left;
            }
        }

        #services {
            .house-demo {
                margin: 0;
            }
        }

        #cta {
            h3 {
                font-size: 36px;
            }
        }

        #works {
            p {
                max-width: 385px;
                margin-bottom: 25px;
                margin-top: -100px;
            }

            .bunch-images {
                height: 670px;

                img {
                    &:nth-of-type(1) {
                        right: 40px;
                        width: 350px;
                    }

                    &:nth-of-type(2) {
                        right: -220px;
                        width: 250px;
                    }

                    &:nth-of-type(3) {
                        top: 240px;
                        left: -70px;
                        width: 200px;
                    }

                    &:nth-of-type(4) {
                        top: 170px;
                        left: 140px;
                        width: 180px;
                    }

                    &:nth-of-type(5) {
                        left: 330px;
                        width: 200px;
                        bottom: 195px;
                    }

                    &:nth-of-type(6) {
                        right: -100px;
                        width: 280px;
                        bottom: 20px;
                    }

                    &:nth-of-type(7) {
                        width: 200px;
                        bottom: 240px;
                        right: -310px;
                    }

                    &:nth-of-type(8) {
                        width: 280px;
                        bottom: -20px;
                        left: -320px;
                    }

                    &:nth-of-type(9) {
                        width: 350px;
                        bottom: -45px;
                        left: -30px;
                    }

                    &:nth-of-type(10) {
                        width: 300px;
                        bottom: -190px;
                        left: 20px;
                    }

                    &:nth-of-type(11) {
                        width: 200px;
                        right: 190px;
                        bottom: -20px;
                    }
                }
            }
        }

        #about_contact {
            .fill-content {
                width: calc((100% - ((100% - 720px) / 2)) - 435px);

                &.yellow {
                    height: calc(100% - 56%);
                }
            }

            .col-left {
                p {
                    max-width: 250px;
                }
            }
        }
    }
}
