//SM
@media (max-width: $screen-sm) {
    .home-page {
        #process {
            position: relative;
            padding: 15px 0;

            span {
                min-width: 60px;
                font-size: 30px;
                line-height: 30px;
                text-align: left;
                padding: 0;
            }

            p {
                padding-left: 0;
                padding-right: 20px;
                line-height: 15px;
                font-size: 12px;
            }

            img {
                @include vendor-prefix(transform, translate(0, -50%));
                position: absolute;
                right: 15px;
                top: 50%;
            }

            .col-sm-3 .row {
                margin: 15px -15px;
            }
        }

        #services {
            padding: 50px 0;

            .house-demo {
                max-width: 520px;
                max-height: 520px;
            }

            .toggle-columns {
                padding: 0;
            }
        }

        #cta {
            padding: 30px 0;
            text-align: center;

            h3 {
                font-size: 30px;
                line-height: 30px;
                margin: 0 0 30px;
            }
        }

        #works {
            h2 {
                max-width: 180px;
            }

            p {
                max-width: 195px;
                margin-top: -150px;
            }

            .bunch-images {
                img {
                    &:nth-of-type(1) {
                        right: -10px;
                    }

                    &:nth-of-type(2) {
                        right: -270px;
                    }

                    &:nth-of-type(6) {
                        right: -70px;
                        bottom: 25px;
                    }
                    &:nth-of-type(11) {
                        display: none;
                    }
                }
            }
        }

        #about_contact {
            padding: 50px 0 0;

            .fill-content {
                width: calc((100% - ((100% - 720px) / 2)) - 404px);

                &.yellow {
                    height: calc(100% - 45%);
                }
            }

            h3 {
                font-size: 32px;
                line-height: 36px;

                small {
                    margin: 0 0 10px;
                }
            }

            .contact-form-component {
                margin: 50px 0 140px;

                .row {
                    margin-left: 0;
                    margin-right: 0;

                    > div {
                        padding: 0;
                    }
                }

                form p {
                    text-align: center;
                    margin: 10px 0 0;
                }
            }

            .col-left {
                .time a {
                    font-size: 21px;
                }
            }
        }
    }
}
