//XS
@media (max-width: $screen-xs) {
    h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .home-page {
        #hero {
            padding: 190px 0 60px;
            height: inherit;

            p {
                line-height: 20px;
                margin: 0 0 10px;
            }

            a {
                font-size: 18px;
                text-align: left;
            }
        }

        #process {
            span {
                text-align: right;
            }

            p {
                padding-left: 15px;
                padding-right: 50px;
            }
        }

        #services {
            .col-custom {
                padding-right: 0;
            }

            .house-demo {
                max-width: 350px;
                max-height: 345px;
                margin-top: 20px;
            }
        }

        #works {
            overflow: hidden;
            padding: 50px 0 0;

            h2 {
                max-width: none;
                margin: 0 0 20px;
                padding: 0 15px;
            }

            p {
                max-width: inherit;
                margin-bottom: 50px;
                margin-top: 0;
            }

            .bunch-images {
                @include vendor-prefix(transform, translate(-50%, 0));
                min-width: 570px;
                height: 850px;
                left: 50%;
                top: 0;

                img {
                    &:nth-of-type(1) {
                        width: 227px;
                        height: 170px;
                        right: 48px;
                        top: 160px;
                    }
                    &:nth-of-type(2) {
                        right: -160px;
                        top: 375px;
                    }
                    &:nth-of-type(3) {
                        top: 10px;
                        left: 295px;
                        width: 130px;
                        height: 130px;
                    }
                    &:nth-of-type(4) {
                        top: 75px;
                        left: 105px;
                        width: 170px;
                    }
                    &:nth-of-type(5) {
                        left: -80px;
                        bottom: inherit;
                        top: 370px;
                    }
                    &:nth-of-type(6) {
                        top: 610px;
                        left: 105px;
                        width: 150px;
                    }
                    &:nth-of-type(9) {
                        width: 320px;
                        bottom: inherit;
                        left: 140px;
                        top: 350px;
                    }
                    &:nth-of-type(10) {
                        top: 610px;
                        left: 275px;
                    }
                }
            }
        }

        #about_contact {
            padding: 0;

            .contact-form-component {
                margin: 50px 0 30px;

                .row {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .fill-content {
                display: none;
            }

            .col-left {
                padding: 30px 0 0;
            }

            .col-top {
                background: $body-bg;
                padding-bottom: 50px;
                padding-top: 30px;

                p {
                    margin: 0 0 20px;
                }
            }

            .family-picture {
                max-width: 200px;
                display: block;
            }

            .signature-icon {
                margin: 0 0 30px;
            }

            .time {
                background: $primary;
                padding: 30px 50px;

                h4 {
                    opacity: 0.5;
                    color: $black2;
                    font-size: 16px;
                    font-family: $font-medium;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 20px;
                    margin: 0 0 30px;

                    &.fill-black {
                        opacity: 1;
                        color: $black;
                        margin: 30px 0 0;
                        letter-spacing: 0;
                        text-transform: inherit;
                    }
                }

                p {
                    margin: 0;
                    color: $black2;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: $font-medium;
                }

                a {
                    color: $black;
                    font-size: 24px;
                    line-height: 30px;
                    font-family: $font-medium;

                    &:hover {
                        text-decoration: underline;
                    }

                    img {
                        margin: -2px 10px 0 0;
                    }
                }
            }
        }
    }
}
